.main_button {
  background: red;
  width: fit-content;
  height: fit-content;
  padding: 8px;
  border-radius: 0;
  background: none;
  font-family: Oswald;
  box-shadow: 0;
  border: 1px solid #1c2915;
  color: #1c2915;
}

.main_button:hover {
  color: #ede3d9;
  border: 1px solid #ede3d9;
  background-color: #1c2915;
  transition: none;
}
